/*menu btn Start */

.menu_btn {
  width: 50px;
  height: 50px;
  background-color: var(--color-red);
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  right: 10%;
  top: 10%;
  transition: 0.5s;
  z-index: 9999;
}
.menu_btn.active {
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  border-radius: 0;
  transition: 0.5s;
}
.menu_list {
  display: none;
}
.menu_btn.active > .menu_list {
  display: block;
}

.menu_btn.active > .menu_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.menu_btn.active > .menu_list > .menu_item {
  font-size: 60px;
  margin-bottom: 40px;
  font-weight: var(--font-bold);
  color: #222222;
  cursor: pointer;
  display: flex;
  z-index: 1;
}
.menu_btn.active > .menu_list > .menu_item:hover {
  color: #fff;
  transition: 0.3s;
}

/*menu btn End */

/* main content Start  */

.section_box * {
  color: white;
}
.main_title > div > span {
  font-size: 130px;
  margin: 0;
  display: block;
}
.main_title > div > span:last-child {
  white-space: normal;
}
.sub_title {
  display: flex;
  justify-content: flex-end;
}
.sub_title > .sub_title_sj {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  margin-right: 50px;
}
.main_title > div:not(:first-child) {
  display: inline-block;
}
.main_content:not(:first-child) {
  margin-top: 60px;
}
.main_content:nth-child(2) {
  margin-top: 0;
}
.sub_title_img {
  width: 346px;
  height: 228px;
}
.sub_title_img > img {
  max-width: 100%;
}

/* main content End  */

/* nav_bar Start */
.navbar__menu_item {
  cursor: pointer;
}
.nav_bar {
  position: fixed;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.nav_bar > ul > li {
  position: relative;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
  margin-bottom: 8px;
  transition: 0.3s;
  font-family: "Karla", sans-serif;
}

.nav_bar > ul > li:hover {
  color: var(--color-red);
  transition: 0.3s;
}
.nav_bar > ul > li::after {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  content: "";
  clear: both;
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: var(--color-red);
  left: -15px;
  top: 0;
  transform: translateY(0%);
}
#section2 {
  background-image: linear-gradient(to top, #000 70%, #000000 100%);
}
#section3 {
  /*background-image: linear-gradient(to top, #000 70%, #29323c 100%);*/
  background-color: red;
}
#intro {
  height: 100vh;
  width: 100vw;
  background-color: black;
}
#about {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
.nav_bar {
  z-index: 999;
}
/* nav_bar End */

/* slide Start */

#slide1 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://www.ikea.com/images/golden-brown-leather-landskrona-sofa-with-long-chaise-and-fo-13443229847bbc90fd1b632e8805c0a9.jpg?f=xxxl");
}
#slide2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("imgs/excel.png");
}
#slide3 {
  background-color: #fff;
}
#slide4 {
  background-color: greenyellow;
}
/* slide End */
.slide * {
  font-weight: bolder;
}
#slide1 .slide_content_box > .content_box {
  background-color: rgba(255, 255, 255, 0.6);
}
#slide1 .slide_content_box > .content_box * {
  color: black;
}
#slide2 .slide_content_box > .content_box * {
  color: #fff;
}

.content_box {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.6);
}

.content_title {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.content_title > span {
  font-size: 2em;
}
.content_title > p {
  font-size: 0.75em;
  margin-bottom: 10px;
}
.content_title > p {
  font-size: 0.5em;
  display: flex;
  margin: 0;
}

.slide_content {
  width: 100%;
  padding: 70px 70px 0 70px;
  box-sizing: border-box;
  flex: 1;
}
.content_plan {
  padding: 30px 70px 0px 70px;
}
.view_content {
  padding: 70px 70px 30px 70px;
}
.slide_content:not(:first-child) > span {
  font-size: 1.5em;
}
.slide_content:first-child {
  margin-bottom: 15%;
}

.fp-controlArrow fp-prev {
  border: 1px solid red;
}

.fp-controlArrow.fp-next {
  right: 10px;
  border-width: 28.5px 0 28.5px 24px;
  border-color: transparent transparent transparent #fb004d;
}
.fp-controlArrow.fp-prev {
  left: 10px;
  border-width: 28.5px 24px 28.5px 0;
  border-color: transparent #fb004d transparent transparent;
}

.img_box {
  width: 320px;
  margin-bottom: 5%;
}
.img_box > img {
  max-width: 100%;
}
.bg {
  background-color: black;
  opacity: 0;
}
.slide_box:hover > .bg {
  opacity: 0.3;
}

/* work Start */
.works_title * {
  color: #fff;
  margin: 0;
}
.works_title {
  display: flex;
  position: absolute;
  top: 10%;
  left: 10%;
}
.works_title > h1 {
  font-size: 50px;
  position: relative;
}

.works_title > p {
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
  padding-bottom: 5px;
}
.work_list {
  display: none;
}
/* work End */

.swiper-slide > img {
  max-width: 100%;
}
.bg {
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
}
.swiper-slide-active:hover > .bg {
  background-color: black;
  opacity: 0.2;
  transition: 0.3s;
}
.first {
  visibility: hidden;
}
.slide_box {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}
.swiper-pagination {
}
.slide_box > img {
  width: 100%;
}
/* oneSelf Start */
.oneself_title * {
  color: white;
  margin: 0;
}
.oneself_title > div > span {
  font-size: 80px;
  font-weight: var(--font-bold);
}
.oneself_title > div:not(:first-child) {
  margin-left: 100px;
  position: relative;
}
.last {
  position: relative;
}

.last::after {
  clear: both;
  content: "and ability";
  position: absolute;
  bottom: 10px;
  left: 105%;
  font-size: 20px;
  width: 100%;
}

.oneself_title > p {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 24px;
}
.oneself_list {
  display: flex;
  flex-wrap: wrap;
}

.oneself_item {
  width: 45%;
  margin: 30px 30px 0 0;
}
.oneself_item > p {
  width: 80%;
}
.onself_item_title {
  font-size: 24px;
  position: relative;
}
.onself_item_title > span {
  color: var(--color-red);
  font-weight: var(--font-bold);
}
.oneself_contaner {
  width: 100%;
}

/* oneSelf End */

/* modul Start */
.works_modul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.modul {
  width: 70%;
}
.modul > img {
  width: 100%;
}
/* modul End */

.swiper-pagination-bullet {
  background-color: white;
  width: 12px;
  height: 12px;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 6px;
}
.slide_box > h1 {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide_box:hover > h1 {
  visibility: visible;
  transition: 0.3s;
}

/* project  Start*/
.project_box {
  justify-content: flex-start;
}
.project_title * {
  color: white;
  margin: 0;
}
.project_title > h1 {
  font-size: 70px;
}
.project_title > p {
  display: flex;
  align-items: flex-end;
  margin: 0 0 10px 20px;
}
.project_title {
  margin-bottom: 50px;
  display: flex;
}
.project_box {
  display: flex;
  justify-content: center;
}
.swiper-wrapper .swiper-wrapper {
  display: flex;
  justify-content: center;
}
.project_item:hover {
  background-color: red;
}
.project_item {
  width: 500px;
  height: 500px;
}
.project_text {
  width: 70%;
  position: absolute;
  color: white;
  z-index: 1;
  top: 40%;
  left: 10%;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}
.project_text > h3 {
  font-size: 1.7vw;
}
.project_text > h4 {
  font-size: 1.5vw;
}
.project_text * {
  margin: 10px 0 10px 0;
}
.project_item:hover .project_text {
  visibility: visible;
  transition: 0.3s;
}
.project_item1 a {
  height: 100%;
  z-index: 10;
  display: block;
}
.project_text a {
  margin-left: -10px;
  border: 1px solid white;
  padding: 10px;
  display: inline-block;
  width: 100px;
  text-align: center;
  z-index: 10;
}
.project_text a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.modul1 > img {
  width: 30%;
}

.modul1 {
  display: flex;
  justify-content: center;
}

.modul2 > img {
  width: 50%;
}
.modul2 {
  display: flex;
  justify-content: center;
}

.modul3 > img {
  width: 50%;
}
.modul3 {
  display: flex;
  justify-content: center;
}
.swiper2 {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.view_content {
  display: flex;
  flex-direction: column;
}
.view_item {
  display: flex;
}
.view_item > a {
  padding: 10px;
  border: 1px solid gray;
  margin-right: 10px;
  color: white;
}
.view_item > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  transition: 0.3s;
}
.view_content > span {
  margin-bottom: 15px;
}

.view_item2 {
  display: flex;
}

.view_item2 > a {
  padding: 10px;
  border: 1px solid white;
  margin-right: 10px;
  color: white;
}
.view_item2 > a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}
.view_item2 > span {
  margin-bottom: 15px;
}


.btn_line_box  {
  position: relative;
  width: 100%;
  height: 100%;
}
.btn_line {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 25px;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.3s;
}
.menu_btn.active > .btn_line_box {
  display: none;
}
.line1 {
  top: 33%;
  left: 25%;
}
.line2 {
  top: 50%;
  left: 25%;
}
.line3 {
  top: 66%;
  left: 25%;
}
.btn_line_box:hover > .line1 {
  top: 50%;
  transform: rotate(45deg);
  transition: 0.3s;
}
.btn_line_box:hover > .line3 {
  top: 50%;
  transform: rotate(-45deg);
  transition: 0.3s;
}
 .btn_line_box:hover > .line2{ 
   opacity: 0 ;
   transition: 0.3s;

}