@media (max-width: 1240px) {
  .nav_bar {
    display: none;
  }
}
@media (min-width: 1400px) {
  .modul {
    width: 60%;
  }
}
@media (max-width: 1024px) {
  .modul1 > img {
    width: 50%;
  }
  .main_title > div > span {
    font-size: 17vw;
  }
  .project_text > h3 {
    font-size: 2.5vw;
  }
  .project_text > h4 {
    font-size: 2vw;
  }
  .intro_title {
    display: none;
  }
  .main_title > div:last-child > span {
    margin-left: 30px;
  }
  .img_box {
    width: 280px;
    margin-bottom: 5%;
  }
  .works_title {
    top: 10%;
  }
}

@media (max-width: 800px) {
  .swiper2 {
    width: 90%;
  }
  .project_title {
    flex-direction: column;
  }
  .project_title > h1 {
    font-size: 15vw;
  }
  .project_title > p {
    margin: 0 0 10px 0px;
    white-space: nowrap;
  }
  .slide_box {
    height: 400px;
  }
  .modul {
    width: 90%;
  }
  .modul .first {
    visibility: visible;
  }
  .last::after {
    display: none;
  }
  .oneself_title > div:not(:first-child) {
    margin-left: 30px;
  }

  .oneself_title > div > span {
    font-size: 17vw;
  }
  .section_box > .oneself_list > .oneself_item:first-child {
    margin-top: 20px;
  }
  .oneself_list {
    flex-direction: column;
  }
  .oneself_item {
    width: 90%;
    margin: 0;
  }
  .onself_item_title {
    font-size: 18px;
  }
  .oneself_item > p {
    width: 100%;
    font-size: 14px;
  }
  .oneself_title {
    flex-direction: column;
  }
  .oneself_title > h1 {
    font-size: 17vw;
  }
  .oneself_title > p {
    margin: 0;
  }
  .img_box {
    width: 50%;
  }
  .slide_content:first-child {
    margin-bottom: 25%;
  }
  .slide_content > span {
    font-size: 0.9em;
  }
  .slide_content:not(:first-child) > p {
    font-size: 0.8em;
  }
  .content_title > span {
    font-size: 13vw;
  }
  .content_box {
    width: 100%;
  }
  .slide_content {
    padding: 40px 40px 0 40px;
  }
  .view_content {
    padding: 40px 40px 20px 40px;
  }
  .section_box {
    padding: 0 20px 0 20px;
  }
  .main_content {
    margin-top: 0;
  }
  .main_title > div:last-child > span {
    margin-left: 30px;
  }

  .sub_title {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .sub_title > .sub_title_sj {
    margin: 5% 1% 0 0;
  }
  .menu_btn.active > .menu_list > .menu_item {
    font-size: 40px;
  }
  .sub_title_img {
    width: 280px;
    height: 185px;
  }
  .menu_btn {
    right: 5%;
    top: 5%;
  }
}
@media (max-width: 500px) {
  .works_title {
    flex-direction: column;
  }
  .works_title > p {
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .slide_box {
    height: 350px;
  }
}
